{
  "openapi": "3.0.0",
  "info": {
    "title": "Cyber Media Center API (赛博影视)",
    "description": "## 专业发烧级影视中心后端接口文档\n\n此文档定义了 Cyber Media 的核心 API 交互规范。旨在取代 Plex/Emby，提供高性能、低延迟的媒体管理与流媒体服务。\n\n### 🔗 API 生命周期说明 (x-lifecycle-status)\n我们在每个接口中定义了开发状态，请前端同学注意：\n\n1.  🔴 **pending** (未开发): 接口仅有定义，后端尚未实现，调用会返回 501。\n2.  🟠 **implemented_unverified** (已开发未验证): 代码已合并，但未经完整测试，可能存在 Bug。\n3.  ❌ **failed_verification** (验证失败): 测试发现严重问题，暂时禁止使用。\n4.  ⚠️ **passed_imperfect** (验证通过但格式不规范): 功能可用，但返回字段可能不全或命名不符合规范，后续会变动。\n5.  ✅ **stable** (验证通过): 接口稳定，可放心集成。\n\n### 🛡️ 鉴权说明\n所有非公开接口需在 Header 中携带 `Authorization: Bearer <token>`。",
    "version": "1.18.0-beta",
    "contact": {
      "name": "Cyber Media Core Team",
      "email": "dev@cybermedia.local"
    }
  },
  "servers": [
    {
      "url": "https://pw.pioneer.fan:84",
      "description": "生产环境 (Production HTTPS)"
    },
    {
      "url": "http://pioneer.fan:84",
      "description": "生产环境 (Production HTTP IPv4)"
    },
    {
      "url": "http://localhost:5004",
      "description": "本地开发环境"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "✅ [验证通过] 健康检查",
        "description": "检查后端服务连通性及数据库连接状态。",
        "operationId": "healthCheck",
        "x-lifecycle-status": "stable",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "服务正常",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "code": 200,
                  "msg": "Pong",
                  "data": {
                    "status": "up",
                    "version": "1.18.0"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/featured": {
      "get": {
        "summary": "获取全局置顶/轮播内容",
        "description": "返回全局精选内容列表。当前为旧全局入口，首页门户优先使用 /api/v1/homepage。",
        "operationId": "getFeaturedContent",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "responses": {
          "200": {
            "description": "精选内容列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieDetailedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filters": {
      "get": {
        "summary": "🔵 [新增] 获取全局筛选字典",
        "description": "统一获取侧边栏筛选菜单所需的所有元数据（分类、年份、国家等）。genres/years/countries 默认只统计公开影视库，不包含需要人工处理的 raw/占位/缺海报影片；元数据工作台筛选维度仍返回完整处理统计。",
        "operationId": "getGlobalFilters",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "可选：指定需要获取的筛选维度。如果为空，则返回所有。例如：'genres,years'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "筛选字典",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/FilterDictionaries"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/homepage": {
      "get": {
        "summary": "✅ [验证通过] 获取首页门户聚合数据",
        "description": "返回首页 hero 与分类区块。默认分类为科幻/动作/剧情/动画，每类默认最多 15 个；hero 与分类区块之间会去重，启用动画分类时其余分类不展示动画内容。首页区块按影片条目计数，不返回可展开的 season_cards，避免多季动漫突破分类数量限制。",
        "operationId": "getHomepage",
        "x-lifecycle-status": "stable",
        "tags": [
          "Homepage"
        ],
        "responses": {
          "200": {
            "description": "首页数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomepageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/homepage/config": {
      "get": {
        "summary": "✅ [验证通过] 获取首页配置",
        "description": "读取首页 hero 指定影片与分类区块配置。",
        "operationId": "getHomepageConfig",
        "x-lifecycle-status": "stable",
        "tags": [
          "Homepage"
        ],
        "responses": {
          "200": {
            "description": "首页配置",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomepageConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "✅ [验证通过] 更新首页配置",
        "description": "更新首页 hero 指定影片与分类区块配置。sections 为完整数组替换。",
        "operationId": "updateHomepageConfig",
        "x-lifecycle-status": "stable",
        "tags": [
          "Homepage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HomepageConfigPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "首页配置已更新",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomepageConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "配置无效或影片不存在"
          }
        }
      }
    },
    "/api/v1/libraries": {
      "get": {
        "summary": "✅ [验证通过] 获取资源库列表",
        "description": "列出所有逻辑资源库。",
        "operationId": "listLibraries",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "responses": {
          "200": {
            "description": "资源库列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "✅ [验证通过] 创建资源库",
        "description": "创建新的逻辑资源库。",
        "operationId": "createLibrary",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibraryCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "创建成功（HTTP 201；body.code 当前固定为 200）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "参数错误"
          }
        }
      }
    },
    "/api/v1/libraries/{id}": {
      "get": {
        "summary": "✅ [验证通过] 获取资源库详情",
        "description": "获取资源库详情及已绑定来源。",
        "operationId": "getLibrary",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "资源库详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源库不存在"
          }
        }
      },
      "patch": {
        "summary": "✅ [验证通过] 更新资源库",
        "description": "更新资源库基础信息。",
        "operationId": "updateLibrary",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibraryUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源库不存在"
          }
        }
      },
      "delete": {
        "summary": "✅ [验证通过] 删除资源库",
        "description": "删除资源库及其绑定关系。",
        "operationId": "deleteLibrary",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "删除成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源库不存在"
          }
        }
      }
    },
    "/api/v1/libraries/{id}/featured": {
      "get": {
        "summary": "✅ [验证通过] 按资源库获取置顶内容",
        "description": "按资源库最终内容集获取 featured 内容，支持手动加入与手动排除规则。",
        "operationId": "getLibraryFeatured",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "置顶内容",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MovieDetailed"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "资源库不存在"
          }
        }
      }
    },
    "/api/v1/libraries/{id}/filters": {
      "get": {
        "summary": "✅ [验证通过] 按资源库获取筛选字典",
        "description": "按资源库最终内容集获取 genres/years/countries 筛选项，支持手动加入与手动排除规则。",
        "operationId": "getLibraryFilters",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "筛选字典",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/FilterDictionaries"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "资源库不存在"
          }
        }
      }
    },
    "/api/v1/libraries/{id}/movie-memberships": {
      "get": {
        "summary": "✅ [验证通过] 获取资源库手动影视规则",
        "description": "查看资源库的手动 include/exclude 规则。include 表示手动加入，exclude 表示从该资源库排除自动命中的影视。",
        "operationId": "listLibraryMovieMemberships",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "include",
                "exclude"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "手动影视规则列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryMovieMembershipListResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源库不存在"
          }
        }
      },
      "post": {
        "summary": "✅ [验证通过] 批量新增或更新资源库手动影视规则",
        "description": "批量 include 或 exclude 已存在影视。同一资源库与同一影视只保留一条规则，重复提交会更新 mode。",
        "operationId": "upsertLibraryMovieMemberships",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibraryMovieMembershipUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "规则已保存",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryMovieMembershipListResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效"
          },
          "404": {
            "description": "资源库或影视不存在"
          }
        }
      }
    },
    "/api/v1/libraries/{id}/movie-memberships/delete": {
      "post": {
        "summary": "✅ [验证通过] 批量删除资源库手动影视规则",
        "description": "删除指定影视在该资源库下的 include/exclude 规则。删除 exclude 后，如果影视仍命中挂载路径，会重新出现在资源库中。",
        "operationId": "deleteLibraryMovieMemberships",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibraryMovieMembershipDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "规则已删除",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryMovieMembershipDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效"
          },
          "404": {
            "description": "资源库或影视不存在"
          }
        }
      }
    },
    "/api/v1/libraries/{id}/movies": {
      "get": {
        "summary": "✅ [验证通过] 按资源库获取影片列表",
        "description": "按资源库最终内容集分页获取影片列表。最终内容为：公开影视的挂载路径自动命中 + 手动 include - 手动 exclude。raw/占位/缺海报/待人工处理影片不会因挂载点自动进入资源库，必须通过手动 include 拉入。支持 page/page_size 与 sort_by/order，返回项会带 library_membership=auto|manual|both。",
        "operationId": "listLibraryMovies",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始。",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页数量，最大 100。",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date_added",
                "updated_at",
                "year",
                "rating",
                "title"
              ],
              "default": "updated_at"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "影片列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryMovieListResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源库不存在"
          }
        }
      }
    },
    "/api/v1/libraries/{id}/recommendations": {
      "get": {
        "summary": "✅ [验证通过] 按资源库获取推荐内容",
        "description": "按资源库最终内容集获取 recommendations，支持手动加入与手动排除规则。每个影片条目会带 recommendation 推荐理由。",
        "operationId": "getLibraryRecommendations",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 12
            }
          },
          {
            "name": "strategy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "latest",
                "top_rated",
                "surprise",
                "continue_watching"
              ],
              "default": "default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "推荐内容",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MovieSimple"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "资源库不存在"
          }
        }
      }
    },
    "/api/v1/libraries/{id}/scan": {
      "post": {
        "summary": "✅ [验证通过] 按资源库触发扫描",
        "description": "按资源库绑定关系触发扫描，支持 root_path 限定起始路径。",
        "operationId": "triggerLibraryScan",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "扫描任务已接受（HTTP 202；body.code 当前固定为 200）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "资源库无可用绑定"
          },
          "404": {
            "description": "资源库不存在"
          },
          "429": {
            "description": "已有扫描任务运行中"
          }
        }
      }
    },
    "/api/v1/libraries/{id}/sources": {
      "get": {
        "summary": "✅ [验证通过] 获取资源库来源绑定列表",
        "description": "查看资源库当前绑定的所有存储源。",
        "operationId": "listLibrarySources",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "绑定列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibrarySourceBindingListResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源库不存在"
          }
        }
      },
      "post": {
        "summary": "✅ [验证通过] 绑定资源库来源",
        "description": "为资源库绑定一个存储源及可选根路径。",
        "operationId": "bindLibrarySource",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibrarySourceBindRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "绑定成功（HTTP 201；body.code 当前固定为 200）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibrarySourceBindingResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源库或来源不存在"
          }
        }
      }
    },
    "/api/v1/libraries/{id}/sources/{binding_id}": {
      "patch": {
        "summary": "✅ [验证通过] 更新资源库来源绑定",
        "description": "更新绑定的根路径、顺序与启用状态。",
        "operationId": "updateLibrarySourceBinding",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "binding_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibrarySourceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibrarySourceBindingResponse"
                }
              }
            }
          },
          "404": {
            "description": "绑定不存在"
          }
        }
      },
      "delete": {
        "summary": "✅ [验证通过] 解绑资源库来源",
        "description": "解除资源库与存储源的绑定关系。",
        "operationId": "deleteLibrarySourceBinding",
        "x-lifecycle-status": "stable",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "binding_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "解绑成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "绑定不存在"
          }
        }
      }
    },
    "/api/v1/metadata/overview": {
      "get": {
        "summary": "✅ [验证通过] 获取元数据工作台总览",
        "description": "返回已入库影片的元数据来源、复核优先级和推荐动作统计，不触发扫描。",
        "operationId": "getMetadataOverview",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "responses": {
          "200": {
            "description": "元数据总览统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataOverviewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/metadata/providers": {
      "get": {
        "summary": "🔵 [新增] 获取元数据刮削 Provider 能力",
        "description": "返回当前后端支持的元数据 provider、默认顺序、别名和是否支持候选搜索。前端可据此渲染刮削来源选择。",
        "operationId": "listMetadataProviders",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "responses": {
          "200": {
            "description": "元数据 provider 能力列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataProviderCatalogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/metadata/re-scrape": {
      "post": {
        "summary": "✅ [验证通过] 批量定点重刮影片元数据",
        "description": "按多条影片基于当前已入库资源批量重跑元数据管线，不触发全库扫描。适合元数据工作台批量“重新识别 / 补刮削”入口。",
        "operationId": "batchReScrapeMovieMetadata",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MovieMetadataBatchReScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "批量重刮结果与汇总信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieMetadataBatchReScrapeResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求体错误"
          },
          "500": {
            "description": "批量重刮失败"
          }
        }
      }
    },
    "/api/v1/metadata/work-items": {
      "get": {
        "summary": "✅ [验证通过] 获取元数据工作台条目列表",
        "description": "返回适合元数据工作台直接渲染的影片条目，包含状态、动作、诊断和问题清单，不触发扫描。",
        "operationId": "listMetadataWorkItems",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metadata_source_group",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "tmdb",
                "nfo_tmdb",
                "nfo_local",
                "local",
                "unknown"
              ]
            }
          },
          {
            "name": "metadata_review_priority",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "low",
                "medium",
                "high",
                "unknown"
              ]
            }
          },
          {
            "name": "needs_attention",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "metadata_issue_code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "按元数据问题编码筛选"
          }
        ],
        "responses": {
          "200": {
            "description": "元数据工作台条目列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataWorkItemListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/movies": {
      "get": {
        "summary": "✅ [验证通过] 获取电影列表 (全能筛选)",
        "description": "获取公开影视库分页数据。默认不传 needs_attention 且不传元数据工作台筛选时，只返回无需人工处理且有海报的影片，raw/占位/缺海报/无可靠元数据影片不会混入全部影视。如需处理队列可传 needs_attention=true，或使用 metadata_source_group、metadata_review_priority、metadata_issue_code 做工作台筛选。",
        "operationId": "listMovies",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "搜索关键词",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "description": "分类筛选 (例如 'Action')。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "地区/国家代码筛选 (例如 'US', 'CN', 'JP')。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "年份筛选。支持单年份 '2023' 或范围 '2020-2024'。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "description": "存储源筛选",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date_added",
                "year",
                "rating",
                "title",
                "updated_at"
              ],
              "default": "date_added"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "metadata_source_group",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "tmdb",
                "nfo_tmdb",
                "nfo_local",
                "local",
                "unknown"
              ]
            },
            "description": "按元数据来源分组筛选；显式传入时进入工作台筛选语义，不强制公开库过滤"
          },
          {
            "name": "metadata_review_priority",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "low",
                "medium",
                "high",
                "unknown"
              ]
            },
            "description": "按元数据复核优先级筛选；显式传入时进入工作台筛选语义，不强制公开库过滤"
          },
          {
            "name": "needs_attention",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "是否返回需要人工处理的元数据；true 用于处理队列（含 raw/占位/缺海报），false 用于公开影视库，未传时默认 false（除非显式使用元数据工作台筛选）"
          },
          {
            "name": "metadata_issue_code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "按元数据问题编码筛选；显式传入时进入工作台筛选语义，不强制公开库过滤"
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回分页数据",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/MovieSimple"
                              }
                            },
                            "pagination": {
                              "$ref": "#/components/schemas/PaginationMeta"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/movies/{id}": {
      "get": {
        "summary": "🟠 [已开发未验证] 获取电影详情",
        "description": "获取单部电影的完整元数据。",
        "operationId": "getMovieDetail",
        "x-lifecycle-status": "implemented_unverified",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影的唯一 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "详情数据",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieDetailed"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "未找到该电影"
          }
        }
      },
      "patch": {
        "summary": "✅ [验证通过] 手动修改影视元数据",
        "description": "手动更新影片元数据字段，用于修正刮削结果。",
        "operationId": "updateMovieMetadata",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MovieMetadataPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新成功（HTTP 200；body.code 当前固定为 200）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieDetailedResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "404": {
            "description": "电影不存在；传入 library_id 时也可能是资源库不存在"
          }
        }
      }
    },
    "/api/v1/movies/{id}/catalog-visibility": {
      "patch": {
        "summary": "🔵 [新增] 更新总影视库发布状态",
        "description": "显式控制单条影片是否进入总影视库。默认 auto 保持原有规则；published 表示手动纳入总影视库；hidden 表示手动从总影视库隐藏。published 在元数据/海报未达标时需要 force=true。",
        "operationId": "updateMovieCatalogVisibility",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MovieCatalogVisibilityUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新后的电影详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieDetailedResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "404": {
            "description": "电影不存在"
          },
          "409": {
            "description": "手动发布被阻止；响应 data.catalog_visibility.blockers 会说明原因，可由用户确认后用 force=true 再提交"
          }
        }
      }
    },
    "/api/v1/movies/{id}/images/{kind}": {
      "get": {
        "summary": "🔵 [新增] 获取电影海报/背景图缓存资源",
        "description": "按电影数据库中的 cover/background_cover 源 URL 拉取并缓存图片，返回后端稳定图片 URL 的二进制内容。接口不会接受任意外部 URL，因此不会成为开放图片代理；refresh=true 时会尝试重新拉取，失败且已有缓存时返回旧缓存。",
        "operationId": "getMovieImageAsset",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "description": "图片类型。poster 对应 poster_url/cover；backdrop 对应 backdrop_url/background_cover。",
            "schema": {
              "type": "string",
              "enum": [
                "poster",
                "backdrop"
              ]
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "true/1/yes 时强制尝试刷新远端图片。刷新失败且已有缓存时返回旧缓存，并在响应头 X-Cyber-Image-Cache=stale。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "图片二进制内容。响应头 X-Cyber-Image-Cache 可能为 miss/hit/refresh/stale。",
            "headers": {
              "X-Cyber-Image-Cache": {
                "description": "缓存状态：miss、hit、refresh 或 stale。",
                "schema": {
                  "type": "string"
                }
              },
              "X-Cyber-Image-Source": {
                "description": "图片来源字段，如 movie.poster 或 movie.backdrop。",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "kind 或图片源 URL 非法"
          },
          "404": {
            "description": "电影不存在，或该电影没有对应图片源"
          },
          "502": {
            "description": "远端图片拉取失败且没有可用缓存"
          }
        }
      }
    },
    "/api/v1/movies/{id}/metadata/match": {
      "post": {
        "summary": "✅ [验证通过] 手动匹配影片元数据",
        "description": "将当前影片匹配到指定元数据候选，并尊重已锁字段，不触发扫描。优先使用 provider/candidate_id；兼容 tmdb_id、imdb/tvdb 外部 ID 和 bangumi/<id>。",
        "operationId": "matchMovieMetadata",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MovieMetadataMatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "匹配后的电影详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieDetailedResponse"
                }
              }
            }
          },
          "404": {
            "description": "电影不存在或匹配失败"
          }
        }
      }
    },
    "/api/v1/movies/{id}/metadata/preview": {
      "post": {
        "summary": "✅ [验证通过] 预览单条影片元数据管线结果",
        "description": "基于当前影片已入库资源预览元数据管线识别结果，不落库，不触发全库扫描。",
        "operationId": "previewMovieMetadataPipeline",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MovieMetadataPipelinePreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "当前元数据与预览结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieMetadataPipelinePreviewResponse"
                }
              }
            }
          },
          "404": {
            "description": "电影不存在"
          },
          "500": {
            "description": "预览失败"
          }
        }
      }
    },
    "/api/v1/movies/{id}/metadata/re-scrape": {
      "post": {
        "summary": "✅ [验证通过] 单条影片定点重刮元数据",
        "description": "基于当前影片已入库资源重新走元数据管线，不触发全库扫描。会定点读取 sidecar NFO。",
        "operationId": "reScrapeMovieMetadata",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MovieMetadataReScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "重刮后的电影详情与本次决策信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieMetadataReScrapeResponse"
                }
              }
            }
          },
          "404": {
            "description": "电影不存在"
          },
          "500": {
            "description": "重刮失败"
          }
        }
      }
    },
    "/api/v1/movies/{id}/metadata/refresh": {
      "post": {
        "summary": "✅ [验证通过] 刷新单条影片元数据",
        "description": "仅刷新当前影片的 TMDB 元数据，不触发全库扫描，并尊重已锁字段。 支持 media_type_hint 辅助电影/剧集重匹配。",
        "operationId": "refreshMovieMetadata",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MovieMetadataRefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "刷新后的电影详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieDetailedResponse"
                }
              }
            }
          },
          "404": {
            "description": "电影不存在或匹配失败"
          }
        }
      }
    },
    "/api/v1/movies/{id}/metadata/search": {
      "get": {
        "summary": "✅ [验证通过] 搜索影片元数据候选",
        "description": "基于当前影片标题或指定 query 搜索元数据候选，不触发扫描。当前可搜索 provider 为 TMDB 和 Bangumi，响应带 provider/source_key/candidate_id。传 query 但不传 year 时，不会默认复用当前影片年份。",
        "operationId": "searchMovieMetadataCandidates",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "可选年份提示。只有显式传入时才会用于指定 query 的候选解释和 provider 搜索。",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 8
            }
          },
          {
            "name": "media_type_hint",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "movie",
                "tv"
              ]
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "可选 provider 顺序，逗号分隔，例如 bangumi,tmdb,local。旧别名 provider_order 也兼容。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "元数据候选列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieMetadataSearchResponse"
                }
              }
            }
          },
          "404": {
            "description": "电影不存在"
          }
        }
      }
    },
    "/api/v1/movies/{id}/resources": {
      "get": {
        "summary": "✅ [验证通过] 获取影片资源与季集分组",
        "description": "返回单片资源列表、无季资源、季分组结果以及季级手动元数据。",
        "operationId": "getMovieResources",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "资源与季集分组结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieResourceGroupsResponse"
                }
              }
            }
          },
          "404": {
            "description": "电影不存在"
          }
        }
      }
    },
    "/api/v1/movies/{id}/resources/metadata": {
      "patch": {
        "summary": "✅ [验证通过] 批量修改影片资源元数据",
        "description": "按影片批量修改多条资源的季集字段，不触发扫描。",
        "operationId": "updateMovieResourcesMetadata",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MovieResourceBatchPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "批量更新结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieResourceBatchPatchResponse"
                }
              }
            }
          },
          "404": {
            "description": "电影或资源不存在"
          }
        }
      }
    },
    "/api/v1/movies/{id}/recommendations": {
      "get": {
        "summary": "获取单片上下文相关推荐",
        "description": "用于详情页或播放页下方推荐。同系列/同标题族优先，其次同类型，最后同动漫/非动漫分区兜底；动漫与非动漫严格隔离。资源库内详情页可传 library_id，服务端会先从该资源库最终影片集合推荐，不足再从全局补齐。",
        "operationId": "getMovieContextRecommendations",
        "x-lifecycle-status": "beta",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 6,
              "minimum": 1
            }
          },
          {
            "name": "library_id",
            "in": "query",
            "description": "可选资源库 ID；传入后先推荐该库内影片，不足再补全局候选。",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "上下文推荐影视列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieSimpleListResponse"
                }
              }
            }
          },
          "404": {
            "description": "电影不存在"
          }
        }
      }
    },
    "/api/v1/movies/{id}/seasons": {
      "get": {
        "summary": "✅ [验证通过] 获取影片季列表",
        "description": "返回更适合前端季编辑页的季级聚合视图，不触发扫描。",
        "operationId": "getMovieSeasons",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "季级聚合结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieSeasonListResponse"
                }
              }
            }
          },
          "404": {
            "description": "电影不存在"
          }
        }
      }
    },
    "/api/v1/movies/{id}/seasons/{season}/metadata": {
      "patch": {
        "summary": "✅ [验证通过] 修改单季元数据",
        "description": "手动修改当前影片单季的标题、简介、首播日期，不触发扫描。",
        "operationId": "updateMovieSeasonMetadata",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "电影 UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season",
            "in": "path",
            "required": true,
            "description": "季号，从 1 开始",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeasonMetadataPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新后的季元数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonMetadataResponse"
                }
              }
            }
          },
          "404": {
            "description": "电影或季不存在"
          }
        }
      }
    },
    "/api/v1/recommendations": {
      "get": {
        "summary": "获取全局推荐影视",
        "description": "返回全局推荐影视列表。default 会综合续看、最近入库、评分、质量、类型多样性和资源可播放性；每个影片条目会带 recommendation 推荐理由。",
        "operationId": "getRecommendations",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 12,
              "minimum": 1
            }
          },
          {
            "name": "strategy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "latest",
                "top_rated",
                "surprise",
                "continue_watching"
              ],
              "default": "default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "推荐影视列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieSimpleListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/resources/{id}/metadata": {
      "patch": {
        "summary": "✅ [验证通过] 修改单个资源元数据",
        "description": "手动修改单集/单资源的季集字段，不触发扫描。",
        "operationId": "updateResourceMetadata",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "资源 UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceMetadataPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新后的资源详情",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Resource"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "资源不存在"
          }
        }
      }
    },
    "/api/v1/resources/{id}/stream": {
      "get": {
        "summary": "⚠️ [格式不规范] 视频/字幕流媒体",
        "description": "默认直接返回二进制视频流。Content-Type 会按资源文件扩展名返回，例如 MP4、MKV、WebM、TS/M2TS、MOV、AVI；无法识别时返回 application/octet-stream。传入 playback.subtitles.items[].id 作为 subtitle_id 时，返回已发现的同目录外挂字幕流。",
        "operationId": "streamVideo",
        "x-lifecycle-status": "passed_imperfect",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "container",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hls",
                "mp4",
                "direct"
              ]
            }
          },
          {
            "name": "subtitle_id",
            "in": "query",
            "description": "可选。传入 playback.subtitles.items[].id 时返回对应外挂字幕；只允许访问服务端已发现并绑定到当前资源的字幕。",
            "schema": {
              "type": "string",
              "example": "sub_3f0ab8f32e8a5d11"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "视频流",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/x-matroska": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/webm": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/mp2t": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/quicktime": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/x-msvideo": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/x-subrip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/vtt": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Range 请求部分内容",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/x-matroska": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/webm": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/mp2t": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/quicktime": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/x-msvideo": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/resources/{id}/subtitles/online/search": {
      "get": {
        "summary": "搜索在线字幕候选",
        "description": "基于当前资源搜索在线字幕。当前只启用 SubHD 与 SrtKu；OpenSubtitles 因中文覆盖和下载限额问题被忽略。电视剧资源会优先按当前季集号排序，避免宽关键词命中其他季/集。",
        "operationId": "searchResourceOnlineSubtitles",
        "x-lifecycle-status": "beta",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "兼容旧参数。可选搜索关键词；优先级低于 keyword/keywords。若某个来源无结果，后端会继续尝试当前资源的影片原名、标题、年份和文件名，提升中英文标题命中率。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "前端显式传入的搜索关键字。优先级高于 query；可重复传多个 keyword。",
            "schema": {
              "type": "string",
              "example": "Spider-Man: No Way Home"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "多个候选搜索关键字，可用英文逗号、中文逗号或换行分隔。后端会按顺序尝试，单个来源命中后不再继续尝试后续关键字。",
            "schema": {
              "type": "string",
              "example": "蜘蛛侠英雄无归，Spider-Man: No Way Home"
            }
          },
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "description": "逗号分隔的字幕源。支持 subhd,srtku；opensubtitles 会被记录为 ignored，不会实际请求。",
            "schema": {
              "type": "string",
              "example": "subhd,srtku"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 50
            },
            "description": "每个启用字幕源最多返回多少条候选；不是全局总数上限。"
          },
          {
            "name": "max_query_attempts",
            "in": "query",
            "required": false,
            "description": "每个字幕源最多尝试多少个搜索关键字。默认 6，最大 12；用于避免电视剧无结果时连续尝试过多 fallback 关键字导致接口过慢。",
            "schema": {
              "type": "integer",
              "default": 6,
              "minimum": 1,
              "maximum": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "在线字幕候选",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineSubtitleSearchApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "搜索参数错误"
          },
          "404": {
            "description": "资源不存在"
          },
          "500": {
            "description": "在线字幕搜索失败"
          }
        }
      }
    },
    "/api/v1/resources/{id}/subtitles/online/download": {
      "post": {
        "summary": "下载在线字幕候选",
        "description": "根据搜索接口返回的 candidate_id 下载字幕文件。candidate_id 只支持 subhd:<hash> 与 srtku:<detail_id>；OpenSubtitles 不接入。若来源返回 zip/7z/tar/gzip 压缩包，后端会尝试提取其中的 srt/ass/ssa/vtt/sub/sup，并只把选中的真实字幕文件返回给前端。",
        "operationId": "downloadResourceOnlineSubtitle",
        "x-lifecycle-status": "beta",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "candidate_id"
                ],
                "properties": {
                  "candidate_id": {
                    "type": "string",
                    "example": "subhd:abc123"
                  },
                  "download_index": {
                    "type": "integer",
                    "default": 0,
                    "minimum": 0,
                    "description": "当来源返回多个下载入口时使用的 0 基下标。SubHD 忽略该字段。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "字幕文件流",
            "headers": {
              "X-Cyber-Subtitle-Provider": {
                "description": "实际下载来源，例如 subhd 或 srtku。",
                "schema": {
                  "type": "string"
                }
              },
              "X-Cyber-Subtitle-Extracted": {
                "description": "是否从压缩包中提取出真实字幕文件。",
                "schema": {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                }
              },
              "X-Cyber-Subtitle-Archive-Kind": {
                "description": "当 X-Cyber-Subtitle-Extracted=true 时返回压缩包类型，例如 zip、7z、tar、gzip。",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/x-subrip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/vtt": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "参数错误或不支持的字幕源"
          },
          "404": {
            "description": "资源不存在"
          },
          "502": {
            "description": "在线字幕源下载失败、压缩包不支持、压缩包无字幕文件或解析失败"
          }
        }
      }
    },
    "/api/v1/resources/{id}/subtitles/online/bind": {
      "post": {
        "summary": "确认并绑定在线字幕候选",
        "description": "用户在前端明确选中某个在线字幕候选后调用。该接口必须传 confirm=true；后端不会根据搜索排序自动绑定字幕。绑定后的字幕保存到后端缓存目录，并通过 playback.subtitles.items 暴露为 online_bound 字幕，播放时继续使用 /api/v1/resources/{id}/stream?subtitle_id=...。",
        "operationId": "bindResourceOnlineSubtitle",
        "x-lifecycle-status": "beta",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "candidate_id",
                  "confirm"
                ],
                "properties": {
                  "candidate_id": {
                    "type": "string",
                    "description": "必须来自搜索接口 items[].id，表示用户手动选中的候选。",
                    "example": "subhd:abc123"
                  },
                  "download_index": {
                    "type": "integer",
                    "default": 0,
                    "minimum": 0,
                    "description": "当来源返回多个下载入口时使用的 0 基下标。SubHD 忽略该字段。"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "必须为 true，表示前端已获得用户对 candidate_id 的明确确认。",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "字幕已绑定到资源",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineSubtitleBindApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "缺少 candidate_id、confirm 不为 true，或字幕源不支持"
          },
          "404": {
            "description": "资源不存在"
          },
          "409": {
            "description": "同一个候选已绑定到该资源"
          },
          "502": {
            "description": "在线字幕源下载失败、压缩包不支持、压缩包无字幕文件或解析失败"
          }
        }
      }
    },
    "/api/v1/resources/{id}/subtitles/{subtitle_id}": {
      "delete": {
        "summary": "移除用户绑定的在线字幕",
        "description": "只移除用户确认后绑定到资源的 online_bound/manual_upload 字幕，并清理后端缓存文件；不会删除同目录外挂字幕，也不会改动原始媒体存储目录。",
        "operationId": "deleteResourceSubtitle",
        "x-lifecycle-status": "beta",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "subtitle_id",
            "in": "path",
            "required": true,
            "description": "必须是 playback.subtitles.items[].id 中 source=online_bound 或 source=manual_upload 的字幕 ID。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "字幕绑定已移除",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceSubtitleMutationApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "subtitle_id 指向同目录外挂字幕，后端不会删除原始媒体目录中的字幕文件"
          },
          "404": {
            "description": "资源或字幕不存在"
          }
        }
      }
    },
    "/api/v1/resources/{id}/subtitles/{subtitle_id}/default": {
      "post": {
        "summary": "设置用户绑定字幕为默认字幕",
        "description": "把某条用户绑定的 online_bound/manual_upload 字幕设为默认。当前只持久化后端缓存字幕的默认选择；同目录外挂字幕仍通过文件名 default/默认 标记控制。",
        "operationId": "setResourceDefaultSubtitle",
        "x-lifecycle-status": "beta",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "subtitle_id",
            "in": "path",
            "required": true,
            "description": "必须是 playback.subtitles.items[].id 中 source=online_bound 或 source=manual_upload 的字幕 ID。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "默认字幕已更新",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceSubtitleMutationApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "subtitle_id 指向同目录外挂字幕，当前不持久化 sidecar 默认项"
          },
          "404": {
            "description": "资源或字幕不存在"
          },
          "409": {
            "description": "绑定字幕记录存在，但后端缓存文件缺失"
          }
        }
      }
    },
    "/api/v1/resources/{id}/subtitles/upload": {
      "post": {
        "summary": "手动上传字幕并绑定到资源",
        "description": "用户手动上传字幕文件后，后端保存到缓存目录并绑定到当前资源，返回更新后的 playback.subtitles。支持直接上传 srt/ass/ssa/vtt/sub/sup，也支持上传 zip/7z/tar/gzip 后由后端提取真实字幕文件；不会写入原始媒体目录。",
        "operationId": "uploadResourceSubtitleFile",
        "x-lifecycle-status": "beta",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "字幕文件或字幕压缩包。字段名也兼容 subtitle。"
                  },
                  "set_default": {
                    "type": "boolean",
                    "default": false,
                    "description": "是否上传后直接设为默认字幕；兼容字段名 is_default。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "字幕已上传并绑定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceSubtitleMutationApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "缺少文件、文件名无效、文件不是受支持字幕/压缩包，或压缩包无法解析"
          },
          "404": {
            "description": "资源不存在"
          },
          "413": {
            "description": "上传文件过大"
          }
        }
      }
    },
    "/api/v1/resources/{id}/audio-transcode": {
      "get": {
        "summary": "✅ [验证通过] 音频实时转码流",
        "description": "为网页播放器提供独立音频流。前端可让 video 继续使用原始 stream_url，同时让 audio 使用该接口；播放或拖动进度时通过 start 参数重建音频流，后端从对应时间点实时转码输出。转码流启动后必须持续提交观看历史心跳，超过 X-Cyber-History-Timeout 秒未收到该资源进度提交时，后端会主动停止 ffmpeg。",
        "operationId": "transcodeResourceAudio",
        "x-lifecycle-status": "beta",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "从原片多少秒开始转码。前端 seek 后应使用当前 video.currentTime 重新请求。",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "audio_track",
            "in": "query",
            "description": "音轨序号，按 ffmpeg 的音频流相对序号计算，0 表示第一条音轨。",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "输出音频格式。默认 mp3 优先保证 HTML audio 兼容性；aac 输出 ADTS AAC。",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "mp3",
                "aac"
              ],
              "default": "mp3"
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "description": "前端播放会话 ID。强烈建议每个播放器实例生成并复用；同一资源同一 session_id 的新转码请求会先停止旧转码进程。",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_.:-]{1,80}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "实时音频转码流",
            "headers": {
              "X-Cyber-Audio-Start": {
                "description": "本次转码请求的原片起始秒数。",
                "schema": {
                  "type": "string"
                }
              },
              "X-Cyber-Audio-Track": {
                "description": "本次转码使用的音轨序号。",
                "schema": {
                  "type": "string"
                }
              },
              "X-Cyber-Audio-Format": {
                "description": "本次转码输出格式。",
                "schema": {
                  "type": "string"
                }
              },
              "X-Cyber-Playback-Session": {
                "description": "本次转码所属播放会话 ID。",
                "schema": {
                  "type": "string"
                }
              },
              "X-Cyber-History-Timeout": {
                "description": "后端历史心跳兜底超时时间，单位秒。超过该时间未收到对应资源的播放进度提交时会停止转码。",
                "schema": {
                  "type": "string",
                  "example": "180"
                }
              }
            },
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/aac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误，或存储源不支持 ffmpeg 输入。"
          },
          "404": {
            "description": "资源不存在。"
          },
          "429": {
            "description": "并发音频转码数已满，前端应稍后重试。"
          },
          "503": {
            "description": "ffmpeg 不可用。"
          }
        }
      },
      "delete": {
        "summary": "✅ [验证通过] 停止音频实时转码会话",
        "description": "前端页面卸载、切换资源或销毁播放器时调用，用于主动停止同一资源同一 session_id 下仍在运行的音频转码进程。",
        "operationId": "stopResourceAudioTranscode",
        "x-lifecycle-status": "beta",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_.:-]{1,80}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "停止结果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "resource_id": {
                              "type": "string"
                            },
                            "session_id": {
                              "type": "string"
                            },
                            "stopped": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "session_id 缺失或格式非法。"
          }
        }
      }
    },
    "/api/v1/resources/{id}/audio-transcode/diagnostics": {
      "get": {
        "summary": "✅ [验证通过] 查询音频实时转码诊断",
        "description": "返回指定资源最近的音频转码诊断快照。用于真实远程源联调 seek、Range 缓存、首包耗时和输出节流；输入 URL 会移除 query/fragment，避免泄漏短期签名。",
        "operationId": "getResourceAudioTranscodeDiagnostics",
        "x-lifecycle-status": "beta",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "description": "可选播放会话 ID。提供后只返回该 session 的诊断项。",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_.:-]{1,80}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "诊断快照。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "resource_id": {
                              "type": "string"
                            },
                            "session_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "active_count": {
                              "type": "integer"
                            },
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "diagnostic_id": {
                                    "type": "string"
                                  },
                                  "resource_id": {
                                    "type": "string"
                                  },
                                  "session_id": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "active": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "closed_at": {
                                    "type": "string",
                                    "format": "date-time",
                                    "nullable": true
                                  },
                                  "closed_reason": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "input": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "scheme": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "is_http": {
                                        "type": "boolean"
                                      }
                                    }
                                  },
                                  "options": {
                                    "type": "object",
                                    "properties": {
                                      "start_seconds": {
                                        "type": "number"
                                      },
                                      "audio_track": {
                                        "type": "integer"
                                      },
                                      "format": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "counters": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "number"
                                    }
                                  },
                                  "timings": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "number",
                                      "nullable": true
                                    }
                                  },
                                  "events": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "session_id 格式非法。"
          },
          "404": {
            "description": "资源不存在。"
          }
        }
      }
    },
    "/api/v1/reviews/resources": {
      "get": {
        "summary": "✅ [验证通过] 获取脏数据复核资源队列",
        "description": "返回路径清洗阶段标记为 needs_review 的资源，供人工复核标题、年份、季集和刮削结果。",
        "operationId": "listReviewResources",
        "x-lifecycle-status": "stable",
        "tags": [
          "Library",
          "Metadata"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "description": "按存储源过滤",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "description": "按刮削 provider 过滤，例如 tmdb/nfo/local",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parse_mode",
            "in": "query",
            "description": "按路径清洗解析模式过滤",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "按文件名、相对路径或影片标题模糊搜索",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "复核资源分页列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewResourceListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/scan": {
      "get": {
        "summary": "✅ [验证通过] 获取扫描状态",
        "description": "轮询接口，用于获取当前扫描任务的实时进度。",
        "operationId": "getScanStatus",
        "x-lifecycle-status": "stable",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "当前状态",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ScanStatus"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "✅ [验证通过] 触发媒体库扫描",
        "description": "异步触发全库扫描。前端通过 GET /api/v1/scan 轮询获取索引、分组、刮削/入库实时进度。",
        "operationId": "triggerScan",
        "x-lifecycle-status": "stable",
        "tags": [
          "System"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "full",
                      "incremental"
                    ],
                    "default": "incremental"
                  },
                  "target_path": {
                    "type": "string",
                    "description": "指定扫描路径，留空则扫描全库"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "任务已接受",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "429": {
            "description": "已有扫描任务正在运行"
          }
        }
      }
    },
    "/api/v1/storage/capabilities": {
      "get": {
        "summary": "✅ [验证通过] 获取存储协议能力矩阵",
        "description": "返回当前后端支持的存储协议、目录浏览能力、流式播放能力和资源库根路径选择所需字段。",
        "operationId": "listStorageCapabilities",
        "x-lifecycle-status": "stable",
        "tags": [
          "Storage"
        ],
        "responses": {
          "200": {
            "description": "协议能力矩阵",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageCapabilitiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/storage/preview": {
      "post": {
        "summary": "✅ [验证通过] 预览/浏览存储源目录",
        "description": "无需保存来源即可验证配置并浏览目录。当前支持 local、webdav、smb、ftp、alist、openlist。返回 browse payload，供前端目录选择器直接使用。",
        "operationId": "previewStorage",
        "x-lifecycle-status": "implemented_unverified",
        "tags": [
          "Storage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoragePreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "目录浏览结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoragePreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "连接失败或配置错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/storage/provider-types": {
      "get": {
        "summary": "✅ [验证通过] 获取支持的存储协议类型",
        "description": "返回当前后端真正支持的存储协议、状态和配置字段定义，供前端动态生成表单。",
        "operationId": "listStorageProviderTypes",
        "x-lifecycle-status": "stable",
        "tags": [
          "Storage"
        ],
        "responses": {
          "200": {
            "description": "支持的协议列表",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/StorageProviderType"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/storage/sources": {
      "get": {
        "summary": "✅ [验证通过] 获取存储源列表",
        "description": "列出所有已配置的存储源。",
        "operationId": "listStorageSources",
        "x-lifecycle-status": "stable",
        "tags": [
          "Storage"
        ],
        "responses": {
          "200": {
            "description": "存储源列表",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/StorageSource"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "🟠 [已开发未验证] 添加存储源",
        "description": "添加新的媒体库来源。",
        "operationId": "addStorageSource",
        "x-lifecycle-status": "implemented_unverified",
        "tags": [
          "Storage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageSourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "添加成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/storage/sources/{id}": {
      "delete": {
        "summary": "🟠 [已开发未验证] 删除存储源",
        "description": "移除指定的存储源配置。",
        "operationId": "deleteStorageSource",
        "x-lifecycle-status": "implemented_unverified",
        "tags": [
          "Storage"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "存储源 ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keep_metadata",
            "in": "query",
            "description": "是否保留元数据。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "删除成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "无法删除",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "未找到指定存储源"
          }
        }
      },
      "patch": {
        "summary": "🟠 [已开发未验证] 更新存储源配置",
        "description": "更新存储源的连接信息或别名。",
        "operationId": "updateStorageSource",
        "x-lifecycle-status": "implemented_unverified",
        "tags": [
          "Storage"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
[...]
